@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

 



body{
    width: 960px;
    margin: auto;
   
   
    
}

header * {
  
    display: inline;
    
}

header img  {
margin-top: 27.5px;
}

header nav {
float: right;
margin-top: -70px;
}

header h1 {
    font-family: 'Yellowtail', cursive; 
    font-size: 5mm;
    width: 100px;
}

.hr1 {
border: 7px dashed 
} 

main article p {
color: rgb(209, 209, 209);
}

main h1 {
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    font-size: 10mm;
}

body p * {
    font-family: 'PT Serif', serif; 
    font-weight: 300;
}

header article {
    margin-bottom: 10px;
}

.print p { 
    width: 500px;
}

.print { 
    display: inline-block;
}

.print button { 
    margin-left: 841px;
    margin-bottom: 20px;
}

.list {
    position: relative;
}

.list1 {
    position: absolute;
    top: 30px;
    right: 600px;
    padding: 20px;
}

checkmark {
    text-decoration: line-through;
}
.n {
    display: grid; 
    grid-template-columns: 100px 1fr 200px; 



} 


footer button {
   
   margin-top: 20px; 
   margin-right: 50px;
   height: 50px; 
   background-color: rgb(158, 2, 2);
   color: white;


}

footer h1 {
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
}

ul { 
    text-decoration: none; 
    list-style: none;
    text-align: center;
    color:  rgb(209, 209, 209);
}

.pp {
    text-align: center;
    color:  rgb(209, 209, 209);
}

.imgs {
    margin-left: 450px;
}

.hr2 {
    margin-bottom: 30px;
}